.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: scroll;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #EF9F9F;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #F47C7C;
  border-color: #F47C7C;
  color: white;
}

.actions .button--alt {
  color: #EF9F9F;
}

.actions .button {
  background-color: #EF9F9F;
  color: white;
}

@media (max-width: 550px) {

  .total {
    font-size: 1.1rem;
  }
}