.form {
  text-align: center;

  button {
    font: inherit;
    cursor: pointer;
    background-color: #F47C7C;
    border: 1px solid #F47C7C;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;

    @media (max-width: 550px) {
      width: 100%;
    }

    &:hover,
    &:active {
      background-color: rgba(32, 25, 32, 0.562);
      border-color: rgba(32, 25, 32, 0.562);
    }
  }
}