.nav {
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 10rem;
  height: 5rem;
  background-color: #F47C7C;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.actions button {
  color: white;
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
  font-size: 0.85rem;
  padding: 0.4rem 1.6rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions .button--alt {
  color: #EF9F9F;
  background-color: white;
}